

html{
background: linear-gradient(pink , #fff7f9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#container{
  position: relative;
  display: flex;
}
#profile{
  flex: 15%;
  display: block;
  position: relative;
  margin: 5% 2% 0 10%;
  width: 100%;
  height: 100%;
}
#info-cards{
  flex: 55%;
  display: block;
  margin-top: 5%;
  margin-right: 10%;
  width: 100%;
  height: 100%;
}

#image,#profile-photo{
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}


#about,.card > ul > li{
  padding: 0 0 0 0;
  position: relative;
  display: inline-block;
  width: 100%;
}

#name, #about > p{
  font-weight: bolder;

}
#email{
  font-size: 15px !important;
  font-weight: bold !important;

}
#college,#email,#year-graduation,#education,#more-about,#telephone,#fax{
  color: #555;
  font-size: 13.5px;
}
strong,span{
  color: black;
  font-size: 16px;
}
#social-links,#about{
  display: inline-block;
}
#social-links{
  margin-bottom: 12px;
}
#social-links a{
  margin: 0 10px;
}

.fab{
  font-size: 1.1em;
}
.fab,.fas{
  color: whitesmoke;
}


.card{
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
  overflow-x: hidden;
  margin-bottom: 30px;
  padding: 15px 30px 30px 30px;
  background-color: #fff;

}

.card > p{
  color: #0e141e;
  font-weight: bolder;
  font-size: 18px;
  line-height: 2;
}
.card > p > i{
  font-size: 18px;
}


@media screen and (max-width:1090px){
  #profile{
      margin-left: 5%;
  }
}
@media screen and (max-width:850px){
  #container{
      display: block;
  }
  #profile{
      width: 90%;
  }
  .card{
      margin: 0 5%;
      margin-bottom: 30px;
  }
}